
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');




* {
    margin: 0;
    padding: 0;
}
body{
    padding: 0;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.top-nav{
    background-color: black;
    overflow: hidden;
}

.top-nav a{
    color: white;
    display: block;
    padding: 14px 100px;
    float: left;
    text-decoration: none;
    text-align: center;
}

.top-nav a:hover:not(.active) {
    background-color: black;

}


#showcase {
    background-image: url(../img/kyrylo-kholopkin-zyVDQb4VeUA-unsplash.jpg);
    color: white;
    margin:0;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

#showcase h1 {
    font-size: 47px;
}

#showcase .luister {
    font-size: 70px;
    text-decoration: none;
    color: white;
    border: white 5px solid;
    padding: 10px 100px;
    border-radius: 10px;
}

.contact-form {
    text-align: center;
}

.contact-title {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact-title h1 {
    width: 1000px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    color: black;
    margin-bottom: 5px;
}

.contact-title h2 {
    margin-top: 80px;
    font-weight: 400;
}

.contact-info {
    margin-top: 50px;
}

.form-control {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: black;
    margin-bottom: 5px;
}

input {
    height: 45px;
}

.contact-info .submit {
    background: black;
    color: white;
    border-color: transparent;
    width: 200px;
    font-size: 20px;
    margin-top: 20px;
}

.contact-title bold {
    font-weight: 700;
}

.podcast-page {
    text-align: center;
}
.podcast-title h1 {
    width: 1000px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    color: black;
    margin-bottom: 5px;
}

.podcast-title {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.podcast-title h2 {
    margin-top: 80px;
}

.img-podcast {
    width: 20%;
    margin: 20px;
    border: 1px solid black;
    padding: 0px;
}

